
spring.datasource.url = jdbc:mysql://localhost:3306/quinze_db?serverTimezone=GMT
spring.datasource.username = ******
spring.datasource.password = ********

# Autoriser l'affichage des requêtes SQL faites par Hibernate
spring.jpa.show-sql=true

# Gérer Hibernate
spring.jpa.hibernate.ddl-auto = update

# Sélectionner un "dialecte" permet à Hibernate de générer du SQL adapté à la verison choisie
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL5InnoDBDialect