.logo
{
    height: 3rem;
}
.indexBg 
{
    background-image: url("img/backgroundIndex.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}
.resultQuestBg
{
    background-image: url("img/backgroundResultQuest.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}
.prepaQuestBg
{
    background-image: url("img/backgroundPrepaQuest.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}

.navbar-toggler
{
    background-color: #9933CC;
}

.btn-continue
{
    color:white;
    background-color:#8c56b8;
    background-image:none;
    border-color:#d16ae6;
}

.btn{
    color: white;
    border-radius: 0;
}
.btn-primar{
    background-image: linear-gradient(135deg, rgba(76, 76, 76, 0.04) 0%, rgba(76, 76, 76, 0.04) 10%,rgba(149, 149, 149, 0.04) 10%, rgba(149, 149, 149, 0.04) 100%),linear-gradient(90deg, rgba(196, 196, 196, 0.04) 0%, rgba(196, 196, 196, 0.04) 59%,rgba(68, 68, 68, 0.04) 59%, rgba(68, 68, 68, 0.04) 100%),linear-gradient(45deg, rgba(39, 39, 39, 0.01) 0%, rgba(39, 39, 39, 0.01) 9%,rgba(218, 218, 218, 0.01) 9%, rgba(218, 218, 218, 0.01) 100%),linear-gradient(0deg, rgba(26, 26, 26, 0.04) 0%, rgba(26, 26, 26, 0.04) 33%,rgba(90, 90, 90, 0.04) 33%, rgba(90, 90, 90, 0.04) 100%),linear-gradient(135deg, rgba(37, 37, 37, 0.07) 0%, rgba(37, 37, 37, 0.07) 46%,rgba(50, 50, 50, 0.07) 46%, rgba(50, 50, 50, 0.07) 100%),linear-gradient(90deg, rgb(8, 28, 65),rgb(16, 173, 226));
}

.btn-secondary
{
background-image: linear-gradient(45deg, rgb(40, 23, 76),rgb(232, 90, 94));

}

.btn-tertiary
{
background-image: linear-gradient(45deg, rgb(56, 120, 78),rgb(175, 255, 102));
}

.btn-quaternary
{
background-image: linear-gradient(45deg, rgb(217, 134, 15),rgb(225, 99, 66));
}

.btn-quinary
{
background-image: linear-gradient(90deg, rgb(111, 34, 83),rgb(253, 64, 149));
}

.btn-senary
{
background-image: linear-gradient(90deg, rgb(43, 33, 93),rgb(81, 240, 237));
}

.btn-septenary
{
background-image: linear-gradient(90deg, rgb(171, 118, 76),rgb(235, 193, 30));
}

h4{
    color: #9933CC;
}

.subtitle 
{
    color: #9933CC;
    opacity: 0.8;
}
/* extra div pour la bordure video  */
.embed-border
{
    border: 5px solid #8c56b8;
    box-sizing: border-box;
}

.embed-responsive
{
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
}

.fa-star.gold {
	color: #ffdc0f;
}

.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.stars {
	display: inline-flex;
	justify-content: center;
}

.stars:hover .fa-star {
	color: #ffdc0f;
}

.stars .fa-star:hover ~ .fa-star {
	color: gray;
}

a { 
    color: crimson; 
    font-weight: 600; 
    transition: all 0.8s cubic-bezier(.14,1.36,.5,.88); 
    display: inline-block; 
}

.xavier{
    max-width: 50%;
    height: auto;
    border-style: solid;
    border-width: 4px;
    border-color: #8c56b8;
    border-radius: 50%;
}

.fa-map-marker-alt{
    color: #8c56b8;
}

.fa-phone-alt{
    color: #8c56b8;
}

.fa-at{
    color: #8c56b8;
}

.fa-quote-right{
    color: #8c56b8;
}

.fa-comment-alt{
    color: #8c56b8;
}

.close{
    color: #8c56b8;
}

.btn-infos{
    background-color: #8c56b8;
    border-style: none;
    border-radius: 50%;
}

.btn-info{
    background-color: #8c56b8;
    border-style: none;
}


