
body 
{
background-image: url("img/background.png");
background-repeat: no-repeat;
background-size: contain;
height: 100vh;
}
.collapse
{
    background-color: white;
    opacity: 0.9;
    border-color: black;
    box-shadow: 0px 8px 10px 0px;
}

.navbar-toggler
{
    background-color: #9933CC;
}
.btn-primary{
    color:white;
    background-color:#8c56b8;
    background-image:none;
    border-color:#d16ae6;
}