<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
​
<body>
    <div th:fragment="contentProfileUser">
       
        <div class="container">
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="container ">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                            <h4>Résultats</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
​
</html>