<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
​
<body>
    <div>
            <div class="name col-12 text-center " th:fragment="contentProfileTherapist (hypnotherapist)">
                    <i class="fas fa-phone" th:text=" ' ' + ${hypnotherapist.phone}"></i><br>
                    <i class="fas fa-address-card" th:text=" ' ' + ${hypnotherapist.address}"></i><br>
                    <i class="fas fa-mail-bulk" th:text=" ' ' + ${hypnotherapist.adr_postal}"></i><br>
                    <i class="fas fa-city" th:text=" ' ' + ${hypnotherapist.town}"></i>
            </div>
    </div>
</body>
​
</html>