<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="contentProfileUser">
        <div class="rating col-12">
            <p class="text-center">Mon résultat :</p>
        </div>

        <hr width="100%" size="5">

        <hr>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                            aria-expanded="false" aria-controls="collapseExample">
                            Mes favoris </button>
                    </p>
                </div>
            </div>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="container ">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Résultats</h4>
                                </div>

                                <ul th:each="hypnotherapist : ${hypnotherapists}" class="list-group" id="user-list">
                                        <a th:href="@{/hypnotherapists/{id}(id=${hypnotherapist.id})}" class="list-group-item list-group-item-action">
                                            <div class="row">
                                                <div class="col-12 ">
                                                    <div class="row align-items-center">
                                                        <div class="col-3 user-img">
                                                            <img class="img-responsive img-circle rounded-circle" th:src="${hypnotherapist.user.image}" />
                                                        </div>
                                                        <div class="col-9">
                                                            <h5 class="font-weight-bold"
                                                                th:text="${hypnotherapist.user.firstname} + ' ' + ${hypnotherapist.user.lastname} ">
                                                            </h5>
                                                            <div class="user-detail">
                                                                <p><span id="dist" class="fas fa-map-marker-alt mr-1 "></span></i>6 km</p>
                                                                <div class="stars justify-content-start">
                                                                    <i class="fas fa-star gold"></i>
                                                                    <i class="fas fa-star gold"></i>
                                                                    <i class="fas fa-star gold"></i>
                                                                    <i class="fas fa-star gold"></i>
                                                                    <i class="fas fa-star gold"></i>
                                                                </div>
                                                                <span class="fas fa-heart right float-right"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </body>

</html>