<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <header th:fragment="notifications">
<!-- Button trigger modal -->
    <div th:if="!${notification}">
    <input type="image" class="cloche" alt="notificationButton" data-toggle="modal" data-target="#exampleModal"
       th:src="@{/img/cloche0.png}">
    </div>
    <div th:if="${notification}">
        <input type="image" class="cloche" alt="notificationButton" data-toggle="modal" data-target="#exampleModal"
        th:src="@{/img/cloche1.png}">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Vos notifications</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="!${notification}" class="modal-body">
                <p>Vous n'avez pas de notifications pour le moment.</p>
        </div>
        <div th:if="${notification}" class="modal-body">
            <form th:action="@{/notifications/{id}(id=${notification.id})}" th:object="${notification}" th:method="patch" >
            <div sec:authorize="hasAuthority('HYPNOTHERAPIST')">
                <label for="form-check" th:text= "'Avez-vous eu un entretien avec '+ ${notification.user.firstname} + ' ' + ${notification.user.lastname}"></label>
            </div>
            
            <div sec:authorize="hasAuthority('HYPNOTHERAPIST')">      
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="hypnotherapistResponse" id="yes" value="true" checked>
                        <label class="form-check-label" for="yes"> Oui</label>
                    <input class="form-check-input" type="radio" name="hypnotherapistResponse" id="no" value="false" >
                        <label class="form-check-label" for="no"> Non</label>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
            <div th:if="!${notification.userResponse}">
                <div sec:authorize="!hasAuthority('HYPNOTHERAPIST')">
                    <label for="form-check" th:text= "'Avez-vous eu un entretien avec '+ ${notification.hypnotherapist.firstname} + ' ' + ${notification.hypnotherapist.lastname}"></label>     
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="userResponse" id="yes" value="true" checked>
                            <label class="form-check-label" for="yes"> Oui</label>    
                    </div>
                    <div class="form-check">               
                        <input class="form-check-input" type="radio" name="userResponse" id="no" value="false" >
                            <label class="form-check-label" for="no"> Non</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </div>
            <div th:if="${notification.userResponse}">
                <p>Merci d'avoir répondu.
                    <br>
                    Vous n'avez plus de notifications pour le moment.
                </p>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>

</body>

</html>