<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head.html :: head"></div>

​
  <body class="container-fluid d-flex flex-column justify-content-between ">
    <header th:replace="fragments/header.html :: header"></header>

        <!-- Page Video  -->


        <div class="col-12 d-flex justify-content-center mb-3">
            <iframe width="560" height="315" th:src="@{https://www.youtube.com/embed/Sw-jhxzb76Q?rel=0}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>


        <!-- Page Content  -->
    
        <div class="text-right">
            <p class="intro mb-3 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <a th:href="@{/choices}" class="btn btn-primary btn-continue mb-3 btn-block btn-lg">Continuer</a>
        </div>
        
        
​
<script th:replace="fragments/script.html :: script"></script>
​
  </body>
</html>