<!DOCTYPE html>
<html>
​
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  ​
  <title>15' Pour Moi</title>
  ​
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../static/style.css">
  ​
</head>
​
  
<body class="container-fluid d-flex flex-column justify-content-between ">
      <header th:replace="fragments/header.html :: header"></header>
  ​
  <!-- Page Video  -->
  ​
  <div class="embed-border">
    <div class="embed-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Sw-jhxzb76Q?rel=0" frameborder="0"
        allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
  ​
  <!-- Page Content  -->

  <div class="text-right">
    <p class="intro mb-3 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
      officia deserunt mollit anim id est laborum..</p>
  </div>


  ​
  <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
    <script th:src="@{/all.js}"></script>
    <script th:src="@{/geoFindme.js}"></script>
    <script th:src="@{/webStorage.js}"></script>
  ​
</body>
</html>