<!DOCTYPE HTML>
<html>

<div th:replace="fragments/head.html :: head"></div>


    <body class="container-fluid d-flex flex-column justify-content-between p-3">

        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/}"><img class="ml-auto logo mx-auto img-fluid" th:src="@{/img/logo15.png}" alt="Responsive image"/></a>     
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">S'inscrire / Se connecter <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about-us}">15' c'est quoi ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mon suivi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/choices}">Un autre besoin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/hypnotherapists}">Hypnothérapeutes</a>
                    </li>
                </ul>
                </div>
            </nav>
        </header>

            <h2>Quelle est votre addiction ?</h2>

            <div class="containerButtons">
                <a class="btn btn-primar btn-block mb-4" th:href="@{/foodAddictionSurvey}" role="button">Alimentaire (sucre, chocolat, café ...)</a>
                <a class="btn btn-secondary btn-block mb-4" th:href="@{/alcoholAddictionSurvey}" role="button">Alcool / Drogues</a>
                <a class="btn btn-tertiary btn-block mb-4" th:href="@{/screenAddictionSurvey}" role="button">Ecrans</a>
            </div>


            <script th:replace="fragments/script.html :: script"></script>

        </body>
        
</html>