<!DOCTYPE HTML>
<html>

<div th:replace="fragments/head.html :: head"></div>


    <body class="container-fluid d-flex flex-column justify-content-between p-3">
            <header th:replace="fragments/header.html :: header"></header>

            <h2>Quelle est votre addiction ?</h2>

            <div class="containerButtons">
                <a class="btn btn-primar btn-block mb-4" th:href="@{/survey/addiction/food}" role="button">Alimentaire (sucre, chocolat, café ...)</a>
                <a class="btn btn-secondary btn-block mb-4" th:href="@{/survey/addiction/alcohol}" role="button">Alcool / Drogue</a>
                <a class="btn btn-tertiary btn-block mb-4" th:href="@{/survey/addiction/screen}" role="button">Ecrans</a>
            </div>

            <a th:href="@{/survey}"><i class="back fas fa-fast-backward return" ></i></a>


            <script th:replace="fragments/script.html :: script"></script>

        </body>
        
</html>