<!DOCTYPE HTML>
<html>

<div th:replace="fragments/head.html :: head"></div>


    <body class="container-fluid d-flex flex-column justify-content-between p-3">

        <header th:replace="fragments/header.html :: header"></header>


        <form action="" method="post" class="fear">

        <label for="form-check">Quand cela se manifeste-t'il ?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="when" id="think" value="option1" checked>
                <label class="form-check-label" for="think"> Rien qu'en y pensant</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="when" id="see" value="option2">
                <label class="form-check-label" for="see"> En la voyant</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="when" id="touch" value="option3">
                <label class="form-check-label" for="touch"> Au toucher</label>
            </div>

            <hr width="100%" size="5">

            <label for="form-check">Y a t'il des fois où cette phobie ne se manifeste pas ?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="dont" id="oui" value="option1" checked>
                    <label class="form-check-label" for="oui"> Oui</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="dont" id="non" value="option2">
                    <label class="form-check-label" for="non"> Non</label>
                </div>

            <br>

            <div class="col-auto d-flex justify-content-center">
                <a th:href="@{/survey/result}" type="submit" class="btn btn-survey">J'envoie mes réponses</a>
            </div>
        </form>

        <script th:replace="fragments/script.html :: script"></script>
    </body>
</html>