<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>15' Pour Moi</title>

    <!-- Bootstrap CSS CDN -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Our Custom CSS -->

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../static/style.css">

</head>

  <body class="container-fluid d-flex flex-column justify-content-between p-3">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img class="ml-auto logo" src="../static/img/logo15.png" class="mx-auto img-responsive " alt="Responsive image"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">S'inscrire / Se connecter <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about-us.html">15' c'est quoi ?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mon suivi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="choices.html">Un autre besoin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hypnothérapeutes</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    
    <h4>Faites le premier pas !</h4>
    <p class="subtitle">Comment rendre votre quotidien meilleur ?</p>
    <!--buttons test-->
      <div class="containerButtons">
        <button type="button" href=".../templates/resultSurvey.html" class="btn btn-primary btn-lg btn-block mb-3">En finir avec ma phobie</button>
        <button href="#" type="button" class="btn btn-secondary btn-lg btn-block mb-3">Dire stop à la cigarette</button>
        <button href="#" type="button" class="btn btn-tertiary btn-lg btn-block mb-3">Retrouver un poids normal</button>
        <button href="#" type="button" class="btn btn-quaternary btn-lg btn-block mb-3">Stop à mes troubles du sommeil</button>
        <button href="#" type="button" class="btn btn-quinary btn-lg btn-block mb-3">Me relaxer</button>
        <button href="#" type="button" class="btn btn-senary btn-lg btn-block mb-3">Apaiser angoisses/stress/anxiété</button>
        <button href="#" type="button" class="btn btn-septenary btn-lg btn-block mb-3">Regagner confiance en moi</button>
      </div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>