<!DOCTYPE html>
<html>

<div th:replace="fragments/head.html :: head"></div>


  <body class="container-fluid d-flex flex-column justify-content-between p-3">
    <header th:replace="fragments/header.html :: header"></header>
    
  <h4>Faites le premier pas !</h4>
    <p class="subtitle">Comment rendre votre quotidien meilleur ?</p>
    <!--buttons test-->

      <div class="containerButtons">
        <a class="btn btn-primar btn-block mb-4" th:href="@{/fearSurvey}" role="button">En finir avec ma phobie</a>
        <a class="btn btn-secondary btn-block mb-4" th:href="@{/smokeSurvey}" role="button">Stop à la cigarette</a>
        <a class="btn btn-tertiary btn-block mb-4" th:href="@{/addictSurvey}" role="button">Dire adieu à mes addictions</a>
        <a class="btn btn-quaternary btn-block mb-4" href="" role="button">Stop à mes troubles du sommeil</a>
        <a class="btn btn-quinary btn-block mb-4" href="" role="button">Me relaxer</a>
        <a class="btn btn-senary btn-block mb-4" href="" role="button">Apaiser mes angoisses/stress/anxiété</a>
        <a class="btn btn-septenary btn-block mb-4" href="" role="button">Regagner confiance en moi</a>
      </div>
    </nav>
  </header>


  <script th:replace="fragments/script.html :: script"></script>

</body>
</html>