<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Peur</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/all.css}" href="../static/all.css">
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../static/style.css">
    </head>

    <body class="container-fluid d-flex flex-column justify-content-between p-3">

        <header th:replace="fragments/header.html :: header"></header>


        <form action="" method="post" class="fear">

            <label for="form-check">Dans quelle situation se manifeste cette peur ?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="situation" id="dark" value="option1">
                <label class="form-check-label" for="dark"> Dans le noir</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="situation" id="close" value="option2">
                <label class="form-check-label" for="close"> Dans un espace clos (ascenceur, pièces sans fenêtre ...)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="situation" id="little" value="option3">
                <label class="form-check-label" for="little"> Dans un espace restreint</label>
            </div>

            <hr width="100%" size="5">

            <label for="form-check">Quand cela se manifeste-t'il ?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="when" id="days" value="option1">
                <label class="form-check-label" for="days"> Tous les jours ou presque</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="when" id="weeks" value="option2">
                <label class="form-check-label" for="weeks"> 1 à 3 fois par semaine</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="when" id="none" value="option3">
                <label class="form-check-label" for="none"> Rarement</label>
            </div>

            <br>

            <div class="col-auto d-flex justify-content-center">
                <a th:href="@{/resultSurvey}" type="submit" class="btn btn-survey">J'envoie mes réponses</a>
            </div>
       
        </form>

    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        <script th:src="@{/all.js}"></script>
        <script th:src="@{/geoFindme.js}"></script>
        <script th:src="@{/webStorage.js}"></script>

    </body>
</html>