<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Peur</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/all.css}" href="../static/all.css">
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../static/style.css">
    </head>

    <body class="container-fluid d-flex flex-column justify-content-between p-3">

        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/}"><img class="ml-auto logo mx-auto img-fluid" th:src="@{/img/logo15.png}" alt="Responsive image"/></a>     
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">S'inscrire / Se connecter <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about-us}">15' c'est quoi ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mon suivi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/choices}">Un autre besoin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/hypnotherapists}">Hypnothérapeutes</a>
                    </li>
                </ul>
                </div>
            </nav>
        </header>
        
        <h2>Quelle est votre phobie ?</h2>

        <div class="containerButtons">
            <a class="btn btn-primar btn-block mb-4" th:href="@{/animalsFear}" role="button">Peur des animaux de compagnies</a>
            <a class="btn btn-secondary btn-block mb-4" th:href="@{/animalsFear}" role="button">Peur des araignées et insectes divers</a>
            <a class="btn btn-tertiary btn-block mb-4" th:href="@{/carFear}" role="button">Peur de conduire en voiture</a>
            <a class="btn btn-quaternary btn-block mb-4" th:href="@{/planeFear}" role="button">Peur de prendre l'avion</a>
            <a class="btn btn-quinary btn-block mb-4" th:href="@{/peopleFear}" role="button">Peur de la foule et des lieux publics</a>
            <a class="btn btn-senary btn-block mb-4" th:href="@{/waterFear}" role="button">Aquaphobie</a>
            <a class="btn btn-septenary btn-block mb-4" th:href="@{/closeFear}" role="button">Claustrophobie</a>
        </div>

    </body>

</html>