<!DOCTYPE HTML>
<html>

<div th:replace="fragments/head.html :: head"></div>


<body class="container-fluid d-flex flex-column justify-content-between  p-3">
    <header th:replace="fragments/header.html :: header"></header>



    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="img xavier">
                <img th:src="${hypnotherapist.image}" class="img-fluid img-circle rounded-circle" alt="">
            </div>
        </div>
    </div>
    <br>
    <div class="name col-12">
        <h1 class="text-center" th:text="${hypnotherapist.firstname} + ' ' + ${hypnotherapist.lastname}"></h1>
    </div>

    <div class="rating col-12">
        <div class="stars d-flex justify-content-center">
            <i class="fas fa-star gold"></i>
            <i class="fas fa-star gold"></i>
            <i class="fas fa-star gold"></i>
            <i class="fas fa-star gold"></i>
            <i class="fas fa-star gold"></i>
        </div>
    </div>

    <hr width="100%" size="5">

    <div class="row">
        <div class="col-6">
            <p><i class="fas fa-quote-right mr-3"></i>Présentation</p>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-infos" data-toggle="modal" data-target="#presentationCenter">+
            </button>
        </div>
        <div class="modal fade" id="presentationCenter" tabindex="-1" role="dialog" aria-labelledby="presentationTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="presentationTitle">Présentation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" th:text="${hypnotherapist.description}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    <hr width="100%" size="5">

    <div class="row">
        <div class="col-6">
            <p><i class="fas fa-comment-alt mr-3"></i> Avis</p>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-infos" data-toggle="modal" data-target="#avisCenter">+</button>
        </div>
        <div class="modal fade" id="avisCenter" tabindex="-1" role="dialog" aria-labelledby="avisCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="avisCenterTitle">Avis</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card">
                            <div class="card-header">
                                Lorem ipsum
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                                        ante.</p>
                                    <footer class="blockquote-footer">Hana Song </footer>
                                </blockquote>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-header">
                                Lorem ipsum
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                                        ante.</p>
                                    <footer class="blockquote-footer">Amélie Lacroix </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <hr width="100%" size="5">

    <div th:if="${notification != null}" class="row">
            <p class="col-12"><i class="fas fa-at mr-3"></i><span th:text="${hypnotherapist.mail}"></span></p>
            <hr width="100%" size="5">
            <p class="col-12"><i class="fas fa-phone-alt mr-3"></i><span th:text="${hypnotherapist.phone}"></span></p>
            <hr width="100%" size="5">
            <p class="col-12"><i class="fas fa-map-marker-alt mr-3"></i><span th:text="${hypnotherapist.address} + ', ' +${hypnotherapist.adr_postal} + ' ' + ${hypnotherapist.town}"></span></p>
        </div>
        </div>
        </div>
        </div>

    <footer>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div th:if="${notification == null}">
                    <form th:action="@{/notifications}" method="POST">
                        <input type="hidden" name="hypnotherapist" th:value="${hypnotherapist.id}">
                        <button type="submit" class="btn btn-info">Me contacter</button>
                    </form>
                    <a class="btn btn-info" th:href="@{/comment}">Me noter</a>
                </div>
                <div th:if="${notification != null}">
                    <p th:text="'  ' + ${hypnotherapist.phone}"></p>
                    <p th:text="'  ' + ${hypnotherapist.mail}"></p>
                </div>
             </div>
        </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <a th:href="@{/hypnotherapists}"><i class="fas fa-fast-backward return" ></i></a>
                <div sec:authorize="!hasAuthority('HYPNOTHERAPIST')">
                    <div th:if="!${favorite}">
                        <form th:action="@{/favorites}" method="POST">
                            <input type="hidden" name="hypnotherapist" th:value="${hypnotherapist.id}">
                            <button type="submit" class="btn btn-link"><i class="far fa-heart favorite"></i></button>
                        </form>
                    </div>
                    <div th:if="${favorite}">
                        <form th:action="@{/favorites/{id}(id=${favorite.id})}" method="POST">
                            <input type="hidden" name="hypnotherapist" th:value="${hypnotherapist.id}">
                            <button type="submit" class="btn btn-link"><i class="fas fa-heart favorite"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <script th:replace="fragments/script.html :: script"></script>

</body>

</html>