<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Peur</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/all.css}" href="../static/all.css">
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../static/style.css">
    </head>

    <body class="container-fluid d-flex flex-column justify-content-between p-3">

        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/}"><img class="ml-auto logo mx-auto img-fluid" th:src="@{/img/logo15.png}" alt="Responsive image"/></a>     
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">S'inscrire / Se connecter <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about-us}">15' c'est quoi ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mon suivi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/choices}">Un autre besoin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/hypnotherapists}">Hypnothérapeutes</a>
                    </li>
                </ul>
                </div>
            </nav>
        </header>

        <form action="" method="post" class="fear">

            <label for="form-check">Dans quelle situation se manifeste-t'elle ?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="situation" id="contact" value="option1">
                <label class="form-check-label" for="contact"> Lorsque vous êtes en contact avec la foule</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="situation" id="transport" value="option2">
                <label class="form-check-label" for="transport"> Dans les transports en commun</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="situation" id="publicspace" value="option3">
                <label class="form-check-label" for="publicspace"> Lorsque vous entrez dans un lieu public</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="situation" id="street" value="option4">
                <label class="form-check-label" for="street"> Lorsque vous êtes dans une rue passante</label>
            </div>

            <hr width="100%" size="5">

            <label for="form-check">Quand cela se manifeste-t'il ?</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="when" id="eveytime" value="option1">
                <label class="form-check-label" for="everytime"> Tous le temps</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="when" id="often" value="option2">
                <label class="form-check-label" for="often"> Souvent</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="when" id="none" value="option3">
                <label class="form-check-label" for="none"> Rarement</label>
            </div>

            <br>

            <div class="col-auto d-flex justify-content-center">
                <button type="submit" class="btn btn-survey">J'envoie mes réponses</button>
            </div>
        </form>
    </body>
</html>