<!DOCTYPE html>
<html>
​
<div th:replace="fragments/head.html :: head"></div>
​
​
<body class="container-fluid d-flex flex-column justify-content-between p-3">
    <header th:replace="fragments/header.html :: header"></header>
​
    ​    <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="img xavier">
                    <img th:src="${user.image}" class="img-fluid img-circle rounded-circle" alt="">
                </div>
            </div>
        </div>
        <br>
        <div class="name col-12">
            <h1 class="text-center" th:text="${user.firstname} + ' ' + ${user.lastname}"></h1>
        </div>
        <div th:replace="fragments/notifications.html :: notifications"></div>
    
        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text=" 'Email : ' + ${user.mail}"></li>
        <div sec:authorize="hasAuthority('HYPNOTHERAPIST')">
            <li class="list-group-item" th:replace="fragments/contentProfileTherapist.html :: contentProfileTherapist(hypnotherapist=${user})"></li>
        </div>
        </ul>
        <div sec:authorize="!hasAuthority('HYPNOTHERAPIST')">
            <div th:replace="fragments/contentProfileUserPerso.html :: contentProfileUserPerso"></div>
        </div>
    </div>
​
​
    <script th:replace="fragments/script.html :: script"></script>
​
</body>
​
</html>