<!DOCTYPE html>
<html>

<div th:replace="fragments/head.html :: head"></div>


<body class="container-fluid d-flex flex-column justify-content-between p-3">
    <header th:replace="fragments/header.html :: header"></header>
​<div>
    ​<div class="card d-flex justify-content-center">
        <img th:src="${user.image}" class="img-fluid img-circle rounded-circle img xavier" alt="">
        <div class="card-body">
          <h3 class="card-title" th:text="${user.lastname} + ' ' + ${user.firstname}"></h3>
          <p class="card-text">Ici vous trouverez ma description d'hypnothérapeute</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" th:text=" 'Email : ' + ${user.mail}"></li>
          <li class="list-group-item" th:replace="fragments/contentProfileTherapist.html :: contentProfileTherapist(hypnotherapist=${user.hypnotherapist})" th:if="${isHypnotherapist}"></li>
        </ul>
    </div>
</div>

    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script th:src="@{../static/all.js}"></script>
    <script th:src="@{../static/geoFindme.js}"></script>
    <script th:src="@{../static/webStorage.js}"></script>
​
</body>
​
</html>