<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>15' Pour Moi</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../static/style.css">

</head>

<body class="container-fluid d-flex flex-column justify-content-between prepaQuestBg p-3">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href=""><img class="ml-auto logo mx-auto img-fluid" th:src="@{/img/logo15.png}" alt="Responsive image"/></a>            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">S'inscrire / Se connecter <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{about-us}">15' c'est quoi ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mon suivi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{choices}">Un autre besoin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hypnothérapeutes</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
        <!-- Page Content  -->
        <form action="#" th:action="@{/registerValid}" th:object="${user}" method="post">
            <div class="form-row">
                <div class="form-group" th:class="${#fields.hasErrors('firstname')}? has-error">
                    <label for="firstname">Firstname</label>
                    <input type="text" th:field="*{firstname}" class="form-control" id="firstname" placeholder="Firstname">
                    <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" th:errorclass="fieldError">Firstname Error</span>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('lastname')}? has-error">
                    <label for="inputLastname">Lastname</label>
                    <input type="text" th:field="*{lastname}" class="form-control" id="inputLastname" placeholder="Lastname">
                    <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" th:errorclass="fieldError">Lastname Error</span>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('password')}? has-error">
                        <label for="inputPassword">Password</label>
                        <input type="password" th:field="*{password}" class="form-control" id="inputPassword" placeholder="Password">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="fieldError">Password Error</span>
                </div>  
                <div class="form-group" th:class="${#fields.hasErrors('email')}? has-error">
                        <label for="inputEmail">Email</label>
                        <input type="email" th:field="*{email}" class="form-control" id="inputEmail" placeholder="Email">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="fieldError">Email Error</span>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('role')}? has-error">
                    <label for="inputRole">Role</label>
                    <select class="form-control" th:field="*{role}" id="inputRole">
                      <option>User</option>
                      <option>Admin</option>
                    </select>
                    <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" th:errorclass="fieldError">Role Error</span>
                </div>
            </div>
            <button type="submit" class="btn btn-continue">Sign in</button>
        </form>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>