<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>15' Pour Moi</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../static/style.css">

</head>

  <body class="container-fluid d-flex flex-column justify-content-between indexBg">
    <header>

          <nav class="navbar navbar-expand-lg navbar-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <img class="ml-auto" src="../static/img/logo15.png" class="mx-auto img-responsive " alt="Responsive image"/>
              <div class="collapse navbar-collapse p-2 col-8" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">S'incrire / Se connecter</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">15' c'est quoi ?</a>
                    </li>
                    <li class="nav-item active">
                          <a class="nav-link text-white" href="#">Mon suivi</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">Un autre besoin ?</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">Hypnothérapeutes</a>
                    </li>
                </ul>
              </div>
          </nav>

    </header>
        <!-- Page Content  -->
    
        <div class="text-right">
            <p class="intro mb-3 text-center">Découvrez la liste des thérapeutes les plus compétants et proches de chez vous pour gérer votre besoin.</p>
            <a href="#" class="btn btn-primary mb-3 btn-block btn-lg">Continuer</a>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>