<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>15' Pour Moi</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../static/style.css">

</head>

<body class="container-fluid d-flex flex-column justify-content-between resultQuestBg p-3">
    <header th:replace="fragments/header.html :: header"></header>

    <!-- Page Content  -->

    <div class="text-right">
        <p class="intro mb-3 text-center">Découvrez la liste des thérapeutes les plus compétents et proches de chez vous
            pour gérer votre besoin.</p>
        <a th:href="@{/hypnotherapists}" class="btn btn-primary btn-continue mb-3 btn-block btn-lg">Découvrir les
            spécialistes</a>
    </div>

    <script th:replace="fragments/script.html :: script"></script>

</body>

</html>