<!DOCTYPE html>
<html>

<div th:replace="fragments/head.html :: head"></div>


<body class="container-fluid d-flex flex-column justify-content-between resultQuestBg p-3">
    <header th:replace="fragments/header.html :: header"></header>

    <!-- Page Content  -->

    <div class="text-right">
        <p class="intro mb-3 text-center">Découvrez la liste des thérapeutes les plus compétents et proches de chez vous
            pour gérer votre besoin.</p>
        <a th:href="@{/hypnotherapists}" class="btn btn-primary btn-continue mb-3 btn-block btn-lg">Découvrir les
            spécialistes</a>
    </div>

    <script th:replace="fragments/script.html :: script"></script>

</body>

</html>