<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>Addiction</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/all.css}" href="../static/all.css">
        <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../static/style.css">
    </head>

    <body class="container-fluid d-flex flex-column justify-content-between p-3">

        <header th:replace="fragments/header.html :: header"></header>

        
            <form action="" method="post" class="addiction">

                <label for="form-check">Quelle est votre addiction ?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="what" id="tv" value="option1">
                    <label class="form-check-label" for="tv"> TV</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="what" id="videogames" value="option2">
                    <label class="form-check-label" for="videogames"> Jeux vidéos</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="what" id="smartphone" value="option3">
                    <label class="form-check-label" for="smartphone"> Smartphones</label>
                </div>

                <hr width="100%" size="5">

                <div class="form-group">
                    <label for="time">Depuis combien de temps avez-vous cette addiction ?</label>
                    <input type="text" class="form-control" id="time">
                </div>

                <hr width="100%" size="5">

                <label for="form-check">Avez-vous le sentiment que cette addiction vous isole ?</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="isolation" id="oui" value="option1">
                    <label class="form-check-label" for="oui"> Oui</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="isolation" id="non" value="option2">
                    <label class="form-check-label" for="non"> Non</label>
                </div>

                <hr width="100%" size="5">

                <label for="form-check">Avez-vous le sentiment que votre addiction s'empire au fil du temps</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="worst" id="yes" value="option1">
                    <label class="form-check-label" for="yes"> Oui</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="worst" id="no" value="option2">
                    <label class="form-check-label" for="no"> Non</label>
                </div>

                <br>

                <div class="col-auto d-flex justify-content-center">
                    <a th:href="@{/resultSurvey}" type="submit" class="btn btn-survey">J'envoie mes réponses</a>
                </div>
        
            </form>
        </div>

        <script th:replace="fragments/script.html :: script"></script>
    </body>
</html>