<!DOCTYPE HTML>
<html>

<div th:replace="fragments/head.html :: head"></div>


    <body class="container-fluid d-flex flex-column justify-content-between p-3">

        <header th:replace="fragments/header.html :: header"></header>

        
            <form action="" method="post" class="addiction">

                <p>Quelle est votre addiction ?</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="what" id="tv" value="option1" checked>
                    <label class="form-check-label" for="tv"> TV</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="what" id="videogames" value="option2">
                    <label class="form-check-label" for="videogames"> Jeux vidéos</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="what" id="smartphone" value="option3">
                    <label class="form-check-label" for="smartphone"> Smartphones</label>
                </div>

                <hr width="100%" size="5">

                <div class="form-group">
                    <p>Depuis combien de temps avez-vous cette addiction ?</p>
                    <input type="text" class="form-control" id="time" required>
                </div>

                <hr width="100%" size="5">

                <p>Avez-vous le sentiment que cette addiction vous isole ?</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="isolation" id="oui" value="option1" checked>
                    <label class="form-check-label" for="oui"> Oui</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="isolation" id="non" value="option2">
                    <label class="form-check-label" for="non"> Non</label>
                </div>

                <hr width="100%" size="5">

                <p>Avez-vous le sentiment que votre addiction s'empire au fil du temps</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="worst" id="yes" value="option1" checked>
                    <label class="form-check-label" for="yes"> Oui</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="worst" id="no" value="option2">
                    <label class="form-check-label" for="no"> Non</label>
                </div>

                <br>

                <div class="col-auto d-flex justify-content-center">
                    <a th:href="@{/survey/result}" type="submit" class="btn btn-survey">J'envoie mes réponses</a>
                </div>
        
            </form>
        </div>

        <a th:href="@{/survey}"><i class="fas fa-fast-backward return" ></i></a>

        <script th:replace="fragments/script.html :: script"></script>
    </body>
</html>