<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>15' Pour Moi</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" href="../static/style.css">
    <link rel="stylesheet" type="text/css" th:href="@{/all.css}" href="../static/all.css">

</head>

<body class="container-fluid d-flex flex-column justify-content-between  p-3">
    <header th:replace="fragments/header.html :: header"></header>


    <form action="#" class="text-center border border-light " th:action="@{/subscribe}" th:object="${user}"
        method="POST">
        <p class="h4 p-4">Inscription</p>
        <div class="form-row mb-4">
            <div class="col-6">
                <input class="form-control" type="text" placeholder="Prénom *" th:field="*{firstname}" required>
            </div>
            <div class="col-6">
                <input class="form-control" type="text" placeholder="Nom *" th:field="*{lastname}" required>
            </div>
        </div>
        <input class="form-control mb-4" type="email" placeholder="E-mail *" th:field="*{mail}" required>
        <input class="form-control" type="password" placeholder="Mot de passe *" th:field="*{password}" required>
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        </small>
        <input type="hidden" name="role" value="user">

        <input type="checkbox" name="isHypnotherapist" value="true" checked="false" id="isHypnotherapist">
        <label for="isHypnotherapist">Je suis Hypnothérapeuthe.</label>


        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-info my-4 btn-block">Valider</button>
        </div>
        <p class="politique">En vous inscrivant vous acceptez la
            <a href="" target="_blank">politique de confidentialité</a>
    </form>


    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script th:src="@{/static/all.js}"></script>
    <script th:src="@{/static/geoFindme.js}"></script>
    <script th:src="@{/static/webStorage.js}"></script>

</body>

</html>